
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
<!DOCTYPE html>
<html>
<head>
    <title>Eldest Director</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>

    <h1>Eldest Director</h1>

    <%= @eldest_director.name %>
</body>
</html>
