<!DOCTYPE html>
<html>
<head>
    <title>Youngest Director</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <nav>
        <a href="/">Home</a>
    </nav>

    <h1>Youngest Director</h1>

    <%= @youngest_director.name %>
</body>
</html>
